.hero h1{
  color: white;
}
.hero p{
  color: white;
}
.navbar .logo{
  border-radius: 0px !important;
}
.footer span:first-child{
  display: none;
}
.footer span a span:first-child{
  display:inline-block;
}
.footer span:nth-child(2){
  display none;
}